
.about-us {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.public-forum {
  color: rgb(0, 0, 0);
  font-size: 100px;
}
.sign-up {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(165, 81, 81);
  font-size: 100px;
} 