.center{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 5em;
}

.login{
    width: auto;
    max-width: 500px;
    border: 1px solid #dcdcdc;
    padding: 20px;
    text-align: center;
}

.login__container{
    display: flex;
    flex-direction: column;
    padding: auto;
    gap: 15px;
    margin: 0 auto 10px auto;
}

.login__textbox{
    padding: 10px;
    font: 18px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid aqua;
}

.login_btn{
    background-color: #587f99; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px 40px;
    border-radius: 12px;
    font-size: large;

}
.login_btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }