                                                                      

.profile{
    width: 90%;
    max-width: 400px;
    border: 1px solid #dcdcdc;
    padding: 20px;
    text-align: center;

  }
  
.profile__container{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.profile__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color:white;
  background-color: black;
}

.profile div{
  margin-top: 7px;
}
